header{
    display: flex;
    flex: 2;   
    box-shadow: 0px 1px 10px 1px #ffffff;
    position: sticky;
    top: 0;
    background-color: #121212;;
}   

header *{
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo{
    flex: 3;
    justify-content: start;
}

header .logo p{
    width: fit-content;
    font-weight: bold;
    font-size: 1.5em;
}

header .logo img{
    width: 18%;
    max-width: 18%;
}

header nav{
    flex: 4;
    column-gap: 20%
}

header nav p{
  font-size: 1.75em;
}

header .repository{
    flex: 3;    
    column-gap: 15px;
    justify-content: flex-end;
}

header .repository p a{
    width: fit-content;
    font-style: none;
    color: 'white';
    flex: 3;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    margin-right: 25px;
}

header .repository img{
    width: 8%;
}

/* Comportamento do cursor e efeitos de clique  */

header img, header p{
    cursor: pointer;
}

header nav p:hover{
    text-decoration: underline;
    font-size: 1.85em;
    color: #dfdede;
}

header nav p:active{
    font-size: 1.9em;
}